.trow {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #f1f9ff;
    border-radius: 10px;
}

.hrow {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.b {
    font-weight: bold;
}

@media all and (max-width: 767px) {
    .hrow {
        display: none;
    }
    .b:before {
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}